<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Person page</title>
</head>
<body>
    <h2 th:text="${person.getFullName() +','+person.getYearOfBirth()}"></h2>

    <div th:if="${books.isEmpty()}">
        <h2>Человек пока не взял ни одной книги</h2>
        <hr/>
    </div>

    <div th:if="${!books.isEmpty()}">
        <hr/>
        <h2>Книги:</h2>
        <div th:each="book:${books}">
            <h2 th:text="${book.getTitle()+','+book.getAuthor()+','+book.getYear()}"></h2>
        </div>
        <hr/>
    </div>
    <br/>

    <form method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
        <input type="submit" value="Редактировать">
    </form>

</body>
</html>